.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo logo logo"
      "banner banner banner"
      "body body body";
  }
  
.logo { display: grid;
    justify-content: center;
    margin-top: 15px;
    grid-area: logo; 
    }
 
.banner-text {
        color: white;
        font-family: Georgia;
        font-size: 70px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        top:25%;
        padding-left: 15%;
        padding-right: 15%;
        line-height: 1.1;
}

.banner-description {
    color: white;
    font-family: Georgia;
    font-size: 25px;
    position: absolute;
    bottom: 35%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.button {
    position: absolute;
    bottom: 15%;
    inline-size: 13%;
    margin-left: 475px;
}

.btn {
    font-family: Georgia;
    width: 200%;
}


.banner { display: grid;
    grid-area: banner;
    align-items: center;
    max-width: 100%;
    margin-bottom: 50px;
}

  
  .body {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    grid-template-areas:
      "text text text"
      "box-1 box-2 box-3"
      "contact contact contact";
    grid-area: body;
    @media screen {
        100%
    }
  }
  
  .text { 
      grid-area: text;
    }

  .title {
    color: black;
    font-family: Georgia;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 30px;
  }

  .description {
    color: gray;
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
    line-height: 1.1;
  }

  
  .box-1 { display:grid;
      grid-area: box-1; 
      background-color: rgba(245,245,245,1);
      font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
      height: 250px;
      width: 380px;
      margin-right: 20px;
      text-align: center;
      padding: 30px;
    }
  
  .box-2 { display:grid;
    grid-area: box-2;
    background-color:rgba(245,245,245,1);
    font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
    height: 250px;
    width: 380px;
    margin-right: 20px;
    text-align: center;
    padding: 30px;
}
  
  .box-3 { display:grid;
      grid-area: box-3; 
      background-color:rgba(245,245,245,1);
      font-family: Georgia;
    font-size: 18px;
    line-height: 1.5;
      height: 250px;
      width: 380px;
      margin-right: 20px;
      text-align: center;
      padding: 30px;
}
  
  .contact { grid-area: contact; 
        inline-size: 13%;
        margin-top: 50px;
        margin-right: 185px;
        margin-bottom: 10px;
    }

.form-popup {
        display:block;
        position:fixed;
        font-family: Georgia;
        text-align: center;
        width: 750px;
        height: 295px;
        bottom: 30%;
        right: 24%;
        border: 3px solid grey;
        z-index: 9;
}

.form-container {
    align-items: center;
    padding: 20px;
    background-color: white;
}

.form-container input[type=text] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.send-guide { 
        display: grid; 
        inline-size: 13%;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 28%;
        width: 150px;
    }

.cancel-button {
position: absolute;
margin-right: 20%;
}


  